* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
body{
   
}
.container {
    max-width: 1280px;
    padding-inline: 20px;
    margin-inline: auto;
}
.logo-contain{

}
/* color-text */
.name-col-spond{
    font-size: 20px;
    font-family: "jost", sans-serif;
} 
h1{
    font-family: "jost", sans-serif;
    margin-top: 20px;
}
.lorem-peregraf{
    
    margin-top: 28px;
    font-family:"jost", sans-serif;
    font-size: 16px;
    color: #222329a8;
}

.maintain-task{
    font-size: 18px;
    margin-bottom: 79px;
    
    margin-top: 10px;
    padding-left: 17px;
}
.controvercy-top{
    margin-top:26px;
    font-size: 21px;
   
    padding-left: 17px;
}


/* End */

/* main div */
.tow-col-sec {
    padding-block: 100px;
    color: rgb(8, 8, 8);
    background-color: beige;

} 

/* end */


.tow-col-wrapper {
    display: flex;
    gap: 40px;

}

.meain-coch-sec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    color:#324872c0 ;
    margin-top:35px ;
    background-color: white;
    
}

/* section */
.liner {
    width: 80px;
    margin-top: 14px;
    background: rgba(23, 231, 179, 0.925);
    height: 3px;
}

.color-decor {
    color: rgba(23, 231, 179, 0.925);
}



/* iner box */
.iner-colum-waper {
   
    padding: 10px;
    background:whitesmoke;
   
}

/* end */
/* logo */
.logo-contain svg {
    width: 85px;
    height: 55px;
    display: flex;
    margin-top: 23px;
   
    
}


.left-col,
.right-col {
    width: 50%;
}

img {
    width: 100%;
    display: inline;
}

.right-col {
    aspect-ratio: 1/1;
    height: auto;
}

.right-col img {
    height: 100%;
    object-fit: cover;

}
@media (max-width:1023.99px) {
    .meain-coch-sec {

            grid-template-columns: repeat(1 , 1fr);
    }
        .liner{
        font-size: 5px;
    }
   .lorem-peregraf{
    
   
    font-size: 15px;
    
    }
   
}
@media (max-width:767.99px) {

   .tow-col-wrapper{
    flex-direction: column;
   }

}