* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1280px;
    padding-inline: 20px;
    margin-inline: auto;
    width: 100%;
}

.logo-contain {}

/* color-text */
.name-col-spond {
    font-size: 20px;
    font-weight: 300;
}

h1 {

    margin-top: 20px;
}

.lorem-peregraf {

    margin-top: 28px;

    font-size: 16px;
    color: #222329a8;
}

.head-secod-clas {
    font-size: 38px;
    margin-top: 20px;

}

/* End */
/* h3 ,p tage */
.maintain-task {
    font-size: 18px;
    margin-top: 10px;
}

.controvercy-top {

    font-size: 21px;


}

.con-men-sec {
    margin-bottom: 55px;
    padding-left: 17px;
    margin-top: 26px;
}

/* End */

/* main div */
.tow-col-sec {
    padding-block: 100px;
    color: rgb(8, 8, 8);
    background-color: #F5F6FA;

}

/* end */


.tow-col-wrapper {
    display: flex;
    gap: 50px;

}

.meain-coch-sec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    color: #324872c0;
    margin-top: 35px;


}

/* section */
.liner {
    width: 80px;
    margin-top: 14px;
    background: #00ac8d;
    height: 3px;
}

.color-decor {
    color: #00ac8d;
}



/* iner box */
.iner-colum-waper {


    background: white;

}

/* end */
/* logo */
.logo-contain svg {
    width: 85px;
    height: 55px;
    display: flex;
    margin-top: 23px;
}


.left-col,
.right-col {
    width: 50%;

}

img {
    width: 100%;
    display: inline;
}

.right-col {
    aspect-ratio: 1/1;
    height: auto;
}

.right-col img {
    height: 100%;
    object-fit: cover;

}

@media (max-width:1023.99px) {
    .meain-coch-sec {

        grid-template-columns: repeat(2, 1fr);
    }

    .liner {
        font-size: 5px;
    }

    .lorem-peregraf {
        font-size: 16px;
    }

    .right-col img {
        height: 100%;
        object-fit: cover;
    }

    .left-col,
    .right-col {
        width: 100%;
    }



}

@media (max-width:767.99px) {

    .tow-col-wrapper {
        flex-direction: column-reverse;
    }

    .meain-coch-sec {

        grid-template-columns: repeat(2, 1fr);
    }

    img {
        width: 100%;
        display: inline;
    }

    .right-col img {
        height: 65%;
        object-fit: cover;
    }

    .right-col {
    aspect-ratio: 0;
    
}

}

@media (max-width:424.99px) {

    .lorem-peregraf {
        font-size: 16px;
    }

    .meain-coch-sec {

        grid-template-columns: repeat(1, 1fr);
    }

    .maintain-task {

        margin-bottom: 50px;
    }
}